[submodule "FE14 Nightmare Modules/fefates-tools"]
	path = FE14 Nightmare Modules/fefates-tools
	url = https://github.com/RainThunder/fefates-tools.git
[submodule "FE8 Nightmare modules/FE8-Nightmare-Light"]
	path = FE8 Nightmare modules/FE8-Nightmare-Light
	url = https://github.com/StanHash/FE8-Nightmare-Light.git
[submodule "FE16 Nightmare Modules/th-hack-tools"]
	path = FE16 Nightmare Modules/th-hack-tools
	url = https://github.com/HeartHeroDE/th-hack-tools.git
